html,
body,
app-root {
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-padding {
    padding: 20px;
    box-sizing: border-box;
}

.app-padding+.app-padding {
    padding-top: 0;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 h6 {
    margin: 0 0 20px 0;
    font-weight: 400;
}

hr {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        border-bottom: 2px solid rgba(255, 255, 255, 0.25);

        tr {
            background: transparent;
        }
    }

    th {
        text-align: left;
    }

    th,
    td {
        padding: 20px 10px;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    tr:nth-child(even) {
        background: rgba(255, 255, 255, 0.066)
    }

    tr:nth-child(odd) {
        background: rgba(255, 255, 255, 0.033)
    }
}