<div fxFill fxLayout="column">
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <img class="logo" src="../../assets/images/MarcoPolo.svg" height="20" />
    <div fxFlex></div>
    <button mat-button [matMenuTriggerFor]="menu">Hello, {{localNode?.organizationName}}</button>
    <mat-menu #menu="matMenu">
      <mat-list>
        <mat-list-item>
          <mat-icon class="space-right">face</mat-icon>
          <span>{{localNode?.organizationName}}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="space-right">location_on</mat-icon>
          <span>{{localNode?.localityName}}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="space-right">language</mat-icon>
          <span>{{localNode?.country}}</span>
        </mat-list-item>
        <mat-list-item>
          <button fxFlex mat-raised-button color="accent">Sign Out</button>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </mat-toolbar>
  <mat-drawer-container fxFlex>
    <mat-drawer fxLayout="column" mode="over" #sidenav>
      <a mat-button routerLink="./conductor">
        <mat-icon>dashboard</mat-icon> Conductor Dashboard</a>
      <a mat-button routerLink="./buyer">
        <mat-icon>dashboard</mat-icon> Buyer Dashboard</a>
      <a mat-button routerLink="./supplier">
        <mat-icon>dashboard</mat-icon> Supplier Dashboard</a>
      <a mat-button routerLink="./funder">
        <mat-icon>dashboard</mat-icon> Funder Dashboard</a>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>