<div fxFill fxLayout="column">
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex></div>
    <button mat-button [matMenuTriggerFor]="menu">Marco Polo</button>
    <mat-menu #menu="matMenu">
      <mat-list>
        <mat-list-item>
          <mat-icon class="space-right">face</mat-icon>
          <span>Marco Polo</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="space-right">location_on</mat-icon>
          <span>Bridgewater</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="space-right">language</mat-icon>
          <span>US</span>
        </mat-list-item>
        <mat-list-item>
          <button fxFlex mat-raised-button color="accent">Sign Out</button>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </mat-toolbar>
  <mat-drawer-container fxFlex>
    <mat-drawer fxLayout="column" #sidenav>
      <a mat-button routerLink=".">
        <mat-icon>dashboard</mat-icon> Buyer Dashboard</a>
      <a mat-button routerLink=".">
        <mat-icon>dashboard</mat-icon> Supplier Dashboard</a>
      <a mat-button routerLink=".">
        <mat-icon>dashboard</mat-icon> Funder Dashboard</a>
    </mat-drawer>
    <app-buyer-dashboard></app-buyer-dashboard>
  </mat-drawer-container>
</div>