mat-drawer {
    padding: 20px;
}

a.mat-button {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    min-width: 240px;
}

.space-right {
    display: inline-block;
    margin-right: 20px;
}