<div fxFill fxLayout="column">
  <mat-toolbar>
    <img class="logo" src="/web/tix/assets/images/MarcoPolo.svg" height="16" />
    <div fxFlex></div>
    <span>{{nodeName?.organizationName}}</span>
  </mat-toolbar>
  <mat-drawer-container #drawerContainer fxFlex>
    <mat-drawer mode="over" position="end" opened="false">
      <div fxLayout="row">
        <h1 fxFlex class="test">Asset History</h1>
        <button mat-icon-button (click)="drawerContainer.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <hr />
      <div class="scroll-container">
        <app-purchase-order-history #purchaseOrderHistory></app-purchase-order-history>
        <app-invoice-history #invoiceHistory></app-invoice-history>
      </div>
    </mat-drawer>
    <mat-drawer-content fxFlex fxLayout="column">
      <app-main fxFlex fxLayout="column"></app-main>
    </mat-drawer-content>
  </mat-drawer-container>
</div>