<div fxLayout="column">
  <div class="app-padding" fxFlex>
    <div class="fxFlex" fxLayout="row">
      <div fxFlex>
        <h1>Supplier Dashboard</h1>
      </div>
    </div>
  </div>
  <div class="app-padding" fxFlex>
    <table>
      <thead>
        <tr>
          <th>Linear ID</th>
          <th>Transaction ID</th>
          <th>Asset ID</th>
          <th>Buyer</th>
          <th>Supplier</th>
          <th>Owner</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>e267a4b9-76e3-488b-bc79-b52ee93caae7</td>
          <td>C3AB8FF13720E8AD9047DD39466B3C8974E592C2FA383D4A3960714CAEF0C4F2</td>
          <td>TRADE-ASSET-000-001</td>
          <td>Alice In Wonderland</td>
          <td>Bob The Builder</td>
          <td>Charlie And The Chocolate Factory</td>
          <td>12,000 GBP</td>
          <td><button mat-raised-button color="accent">Change Owner</button></td>
        </tr>
        <tr>
          <td>e267a4b9-76e3-488b-bc79-b52ee93caae7</td>
          <td>C3AB8FF13720E8AD9047DD39466B3C8974E592C2FA383D4A3960714CAEF0C4F2</td>
          <td>TRADE-ASSET-000-001</td>
          <td>Alice In Wonderland</td>
          <td>Bob The Builder</td>
          <td>Charlie And The Chocolate Factory</td>
          <td>12,000 GBP</td>
          <td><button mat-raised-button color="accent">Change Owner</button></td>
        </tr>
        <tr>
          <td>e267a4b9-76e3-488b-bc79-b52ee93caae7</td>
          <td>C3AB8FF13720E8AD9047DD39466B3C8974E592C2FA383D4A3960714CAEF0C4F2</td>
          <td>TRADE-ASSET-000-001</td>
          <td>Alice In Wonderland</td>
          <td>Bob The Builder</td>
          <td>Charlie And The Chocolate Factory</td>
          <td>12,000 GBP</td>
          <td><button mat-raised-button color="accent">Change Owner</button></td>
        </tr>
        <tr>
          <td>e267a4b9-76e3-488b-bc79-b52ee93caae7</td>
          <td>C3AB8FF13720E8AD9047DD39466B3C8974E592C2FA383D4A3960714CAEF0C4F2</td>
          <td>TRADE-ASSET-000-001</td>
          <td>Alice In Wonderland</td>
          <td>Bob The Builder</td>
          <td>Charlie And The Chocolate Factory</td>
          <td>12,000 GBP</td>
          <td><button mat-raised-button color="accent">Change Owner</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>