<table>
  <tbody>
    <tr>
      <td><strong>Earliest Shipment</strong></td>
      <td>{{data.earliestShipment | date:'short'}}</td>
    </tr>
    <tr>
      <td><strong>Latest Shipment</strong></td>
      <td>{{data.latestShipment | date:'short'}}</td>
    </tr>
    <tr>
      <td><strong>Port of Shipment</strong></td>
      <td>{{data.portOfShipment}}</td>
    </tr>
    <tr>
      <td><strong>Description of Goods</strong></td>
      <td>{{data.descriptionOfGoods}}</td>
    </tr>
    <tr>
      <td><strong>Delivery Terms</strong></td>
      <td>{{data.deliveryTerms}}</td>
    </tr>
  </tbody>
</table>