<mat-dialog-content>
  <table>
    <tbody>
      <tr>
        <td>
          <strong>Invoice Version</strong>
        </td>
        <td>{{data.invoiceVersion}}</td>
      </tr>
      <tr>
        <td>
          <strong>Invoice Version Date</strong>
        </td>
        <td>{{data.invoiceVersionDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>TIX Invoice Version</strong>
        </td>
        <td>{{data.tixInvoiceVersion}}</td>
      </tr>
      <tr>
        <td>
          <strong>Invoice Number</strong>
        </td>
        <td>{{data.invoiceNumber}}</td>
      </tr>
      <tr>
        <td>
          <strong>Invoice Type</strong>
        </td>
        <td>{{data.invoiceType}}</td>
      </tr>
      <tr>
        <td>
          <strong>Reference</strong>
        </td>
        <td>{{data.reference}}</td>
      </tr>
      <tr>
        <td>
          <strong>Due Date</strong>
        </td>
        <td>{{data.dueDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Offer ID</strong>
        </td>
        <td>{{data.offerId}}</td>
      </tr>
      <tr>
        <td>
          <strong>Amount</strong>
        </td>
        <td>{{data.amount}}</td>
      </tr>
      <tr>
        <td>
          <strong>Total Outstanding</strong>
        </td>
        <td>{{data.totalOutstanding}}</td>
      </tr>
      <tr>
        <td>
          <strong>Created</strong>
        </td>
        <td>{{data.created | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Updated</strong>
        </td>
        <td>{{data.updated | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Expected Settlement Date</strong>
        </td>
        <td>{{data.expectedSettlementDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Settlement Date</strong>
        </td>
        <td>{{data.settlementDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Mandatory Reconciliation Date</strong>
        </td>
        <td>{{data.mandatoryReconciliationDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Invoice Date</strong>
        </td>
        <td>{{data.invoiceDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Status</strong>
        </td>
        <td>{{data.status}}</td>
      </tr>
      <tr>
        <td>
          <strong>Rejection Reason</strong>
        </td>
        <td>{{data.rejectionReason}}</td>
      </tr>
      <tr>
        <td>
          <strong>EligibleValue</strong>
        </td>
        <td>{{data.eligibleValue}}</td>
      </tr>
      <tr>
        <td>
          <strong>Invoice Purchase Value</strong>
        </td>
        <td>{{data.invoicePurchaseValue}}</td>
      </tr>
      <tr>
        <td>
          <strong>Trade Date</strong>
        </td>
        <td>{{data.tradeDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Trade Payment Date</strong>
        </td>
        <td>{{data.tradePaymentDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Invoice Payments</strong>
        </td>
        <td>{{data.invoicePayments}}</td>
      </tr>
      <tr>
        <td>
          <strong>Invoice Dilutions</strong>
        </td>
        <td>{{data.invoiceDilutions}}</td>
      </tr>
      <tr>
        <td>
          <strong>Cancelled</strong>
        </td>
        <td>{{data.cancelled ? 'Yes' : 'No'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Close Date</strong>
        </td>
        <td>{{data.closeDate | date:'short'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Origination Network</strong>
        </td>
        <td>{{data.originationNetwork}}</td>
      </tr>
      <tr>
        <td>
          <strong>Hash</strong>
        </td>
        <td>{{data.hash}}</td>
      </tr>
      <tr>
        <td>
          <strong>Currency</strong>
        </td>
        <td>{{data.currency}}</td>
      </tr>
      <tr>
        <td>
          <strong>Site ID</strong>
        </td>
        <td>{{data.siteId}}</td>
      </tr>
      <tr>
        <td>
          <strong>Purchase Order Number</strong>
        </td>
        <td>{{data.purchaseOrderNumber}}</td>
      </tr>
      <tr>
        <td>
          <strong>Purchase Order Id</strong>
        </td>
        <td>{{data.purchaseOrderId}}</td>
      </tr>
      <tr>
        <td>
          <strong>Composer Program Id</strong>
        </td>
        <td>{{data.composerProgramId}}</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
