<div fxLayout="column">
  <div class="app-padding" fxFlex>
    <div class="fxFlex" fxLayout="row">
      <div fxFlex>
        <h1>Conductor Dashboard</h1>
      </div>
      <div>
        <button mat-raised-button color="accent" (click)="openDialog()">New Trade Asset</button>
      </div>
    </div>
  </div>
  <div class="app-padding" fxFlex>
    <table>
      <thead>
        <tr>
          <th>Linear ID</th>
          <th>Transaction ID</th>
          <th>Asset ID</th>
          <th>Buyer</th>
          <th>Supplier</th>
          <th>Owner</th>
          <th>Status</th>
          <th class="align-right">Value</th>
        </tr>
      </thead>
      <tbody *ngIf="states.length > 0">
        <ng-container *ngFor="let state of states">
          <tr>
            <td>{{state.state.data.linearId.id}}</td>
            <td>{{state.ref.txhash}}</td>
            <td>{{state.state.data.tradeAsset.assetId}}</td>
            <td>{{getName(state.state.data.buyer)}}</td>
            <td>{{getName(state.state.data.supplier)}}</td>
            <td>{{getName(state.state.data.owner)}}</td>
            <td>
              <mat-chip-list>
                <mat-chip selected="true" color="accent">{{state.state.data.tradeAsset.status}}</mat-chip>
              </mat-chip-list>
            </td>
            <td class="align-right">{{state.state.data.tradeAsset.amount}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>