h4 {
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
    margin: 0 0 8px;
    background: rgba(255, 255, 255, 0.1);
}

table {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    tr {
        border: none;
    }
}