mat-paginator {
    background: rgba(0, 0, 0, 0.2);
}

a {
    color: #18FFFF;
}

.scroll-container {
    height: calc(100vh - 240px);
}

.message {
    padding: 128px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}