mat-paginator {
    background: transparent;
}

a {
    color: #2BE7F8;
}

.scroll-container {
    height: calc(100vh - 240px);
}

.message {
    padding: 128px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}