html,
body,
app-root {
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-padding {
    padding: 20px;
    box-sizing: border-box;
}

.app-padding+.app-padding {
    padding-top: 0;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

hr {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #616E79;
    background: rgba(0, 0, 0, 0.25);
    thead {
        background: #1C2935;
        tr {
            background: transparent;
        }
    }
    tr {
        border-bottom: 1px solid #616E79;
        th,
        td {
            padding: 10px 10px;
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        th {
            color: #899097;
            text-align: left;
            padding: 16px 10px;
        }
    }
}

mat-dialog-container {
    background: #42617b !important;
    background: -moz-linear-gradient(top, #42617b 0%, #273e59 100%) !important;
    background: -webkit-linear-gradient(top, #42617b 0%, #273e59 100%) !important;
    background: linear-gradient(to bottom, #42617b 0%, #273e59 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42617b', endColorstr='#273e59', GradientType=0) !important;
    border-radius: 4px !important;

    table {
        background: transparent !important;
        border: none !important;

        tr {
            border: none !important;
        }
    }
}

.mat-tab-body-wrapper {
    display: flex;
    flex: 1;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.scroll-container {
    overflow: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.1);
    width: 16px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #2BE7F8;
}