@import '~@angular/material/theming';

@include mat-core();

$concord-app-primary: mat-palette($mat-teal, 900);
$concord-app-accent:  mat-palette($mat-cyan);
$concord-app-warn:    mat-palette($mat-red);
$concord-app-theme:   mat-dark-theme($concord-app-primary, $concord-app-accent, $concord-app-warn);

@include angular-material-theme($concord-app-theme);