<div *ngFor="let item of items; let i = index">
  <br />
  <table>
    <thead>
      <tr>
        <th colspan="2">Asset Version {{i + 1}}</th>
      </tr>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Owner</td>
        <td>{{item.owner.organizationName}}</td>
      </tr>
      <tr>
        <td>Buyer</td>
        <td>{{item.buyer.organizationName}}</td>
      </tr>
      <tr>
        <td>Supplier</td>
        <td>{{item.supplier.organizationName}}</td>
      </tr>
      <tr>
        <td>Reference</td>
        <td>{{item.reference}}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{item.created | date:'medium'}}</td>
      </tr>
      <tr>
        <td>Earliest Shipment</td>
        <td>{{item.earliestShipment | date:'medium'}}</td>
      </tr>
      <tr>
        <td>Latest Shipment</td>
        <td>{{item.latestShipment | date:'medium'}}</td>
      </tr>
      <tr>
        <td>Port of Shipment</td>
        <td>{{item.portOfShipment}}</td>
      </tr>
      <tr>
        <td>Description of Goods</td>
        <td>{{item.descriptionOfGoods}}</td>
      </tr>
      <tr>
        <td>Delivery Terms</td>
        <td>{{item.deliveryTerms}}</td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>{{item.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>