<div *ngFor="let item of items; let i = index">
  <br />
  <h4>Asset Version {{i + 1}}</h4>
  <table>
    <tbody>
      <tr>
        <td>
          <strong>Owner</strong>
        </td>
        <td>{{item.owner.organizationName}}</td>
      </tr>
      <tr>
        <td>
          <strong>Buyer</strong>></td>
        <td>{{item.buyer.organizationName}}</td>
      </tr>
      <tr>
        <td>
          <strong>Supplier</strong>
        </td>
        <td>{{item.supplier.organizationName}}</td>
      </tr>
      <tr>
        <td>
          <strong>Reference</strong>
        </td>
        <td>{{item.reference}}</td>
      </tr>
      <tr>
        <td>
          <strong>Created</strong>></td>
        <td>{{item.created | date:'medium'}}</td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>{{item.amount}}</td>
      </tr>
      <tr>
        <td>
          <strong>Earliest Shipment</strong>
        </td>
        <td>{{item.earliestShipment | date:'medium'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Latest Shipment</strong>
        </td>
        <td>{{item.latestShipment | date:'medium'}}</td>
      </tr>
      <tr>
        <td>
          <strong>Port of Shipment</strong>
        </td>
        <td>{{item.portOfShipment}}</td>
      </tr>
      <tr>
        <td>
          <strong>Description of Goods</strong>
        </td>
        <td>{{item.descriptionOfGoods}}</td>
      </tr>
      <tr>
        <td>
          <strong>Delivery Terms</strong>
        </td>
        <td>{{item.deliveryTerms}}</td>
      </tr>
    </tbody>
  </table>
</div>