<h2>New Purchase Order</h2>
<div [ngSwitch]="view">
  <div *ngSwitchDefault>
    <div fxLayout="column">
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Buyer">
            <mat-option *ngFor="let item of items" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Supplier">
            <mat-option *ngFor="let item of items" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <input matInput type="text" placeholder="Value" />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Currency" #select="matSelect">
            <mat-select-trigger>{{select.selected?.value}}</mat-select-trigger>
            <mat-option *ngFor="let item of currencies" [value]="item.code">
              <span fxFlex>{{item.code}}</span>{{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <button mat-raised-button fxFlex color="accent" (click)="okay()">OK</button>
      <div fxFlex="5"></div>
      <button mat-raised-button fxFlex color="warn" (click)="cancel()">Cancel</button>
    </div>
  </div>
  <div *ngSwitchCase="Conduct">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="app-padding">
      <mat-spinner color="accent"></mat-spinner>
      <p>Conducting transaction, please wait...</p>
    </div>
  </div>
  <div *ngSwitchCase="Success">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="app-padding">
      <mat-icon color="accent">check_circle</mat-icon>
      <p>Transaction successful!</p>
    </div>
  </div>
  <div *ngSwitchCase="Failure">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="app-padding">
      <mat-icon color="warn">warning</mat-icon>
      <p>Transaction failed!</p>
    </div>
  </div>
</div>